.head{
    width: 500px;
    height: 100px;
    background-color:cadetblue;
    text-align: center;    /* 横向字体居中 */
    line-height: 100px    /* 垂直字体居中 */;            
    margin:auto;  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif



}
.GPS{
   width: 500px;
   height: 70px;  
   background-color: blueviolet;
   text-align: center;
   line-height: 70px ;
   margin:auto;
}
.cirle{
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    border-radius: 50%;
    background:url(../../img/bg.jpg) no-repeat;
    background-size: 100% 100% ;
    float: right;
    margin-right:300px
    }
.left{
    width: 150px;
    height: 400px;
    border: 1px dashed red;
    background-color:pink;
    text-align:center;
    line-height:320px;
}